* {
    margin: 0;
    padding: 0;
}

.bg {
    height: 600px;
    width: 650px;
    background: #ec9020;
    margin: auto;
    position: relative;
}

img[src^='./img/p'] {
    position: absolute;
    top: 220px;
    left: 264px;
    z-index: 2;
    cursor: pointer;
    width: 100px;
}

img[src^='./img/t'] {
    position: absolute;
    top: 40px;
    left: 66px;
    transition: all 4s;
    width: 500px;
}
